.cart{
    border:2px solid rgb(31, 62, 150);
    background-color: khaki;
    border-radius:20px;
    margin-left: 20px;
    position: sticky;
    margin-top: 30px;
    margin-left:5px;
}
.cart-img{
    width: 40px;
    border-radius: 50%;
}

.btn-select{
    background-color: rgb(13, 221, 228);
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    width:120px;
    margin-bottom:10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-select:hover{
    background-color: rgb(99, 101, 243);
}
.btn-remove{
    background-color:dodgerblue; 
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    width:120px;
    margin-bottom:10px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-remove:hover{
    background-color: rgb(241, 56, 56);
}